<h1><?php echo $album[TITLE]; ?></h1>

<p><a href='/index.html'>index of albums</a></p>

<ul>
<?php

foreach ($photos as $photo) {

    $title = $photo[TITLE];
    $url = $photo['url'];
    $thumbnailUrl = $photo['thumbnailUrl'];

    echo "<li><a href='$url'>$title<img src='$thumbnailUrl'/></a></li>" . NL;

}

?>

</ul>