<h1>Albums of user #<?php echo $userId; ?></h1>

<ul>
<?php

foreach ($albums as $album) {

    $title = $album[TITLE];
    $url = slug_url($title);

    echo "<li><a href='$url'>$title</a></li>" . NL;

}

?>

</ul>